connector:
    name: Magento Connector
    jobs:
        magento_product_export:
            title: pim_magento_connector.jobs.product_export.title
            type:  export
            templates:
                show: 'PimMagentoConnectorBundle:Export:show.html.twig'
                edit: 'PimMagentoConnectorBundle:Export:edit.html.twig'
            steps:
                export_simple_products:
                    title:     pim_magento_connector.steps.simple_product_export.export.title
                    services:
                        reader:    pim_base_connector.reader.doctrine.product
                        processor: pim_magento_connector.processor.product
                        writer:    pim_magento_connector.writer.product
                    parameters:
                        batch_size: 100
                export_configurable_product:
                    title:     pim_magento_connector.steps.configurable_product_export.export.title
                    services:
                        reader:    pim_base_connector.reader.doctrine.product
                        processor: pim_magento_connector.processor.configurable
                        writer:    pim_magento_connector.writer.product
                    parameters:
                        batch_size: 100
                export_product_association:
                    title:     pim_magento_connector.steps.association_product_export.export.title
                    services:
                        reader:    pim_base_connector.reader.doctrine.product
                        processor: pim_magento_connector.processor.product_association
                        writer:    pim_magento_connector.writer.product_association
                    parameters:
                        batch_size: 100
                prune_simple_products:
                    title: pim_magento_connector.steps.simple_product_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.product
                prune_configurable_products:
                    title: pim_magento_connector.steps.configurable_product_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.configurable
        magento_product_export_delta:
            title: pim_magento_connector.jobs.product_export.title
            type:  export
            templates:
                show: 'PimMagentoConnectorBundle:Export:show.html.twig'
                edit: 'PimMagentoConnectorBundle:Export:edit.html.twig'
            steps:
                export_simple_products:
                    title:     pim_magento_connector.steps.simple_product_export.export.title
                    services:
                        reader:    pim_delta_export.reader.doctrine.product
                        processor: pim_magento_connector.processor.product
                        writer:    pim_magento_connector.writer.product_delta
                    parameters:
                        batch_size: 1
                export_configurable_product:
                    title:     pim_magento_connector.steps.configurable_product_export.export.title
                    services:
                        reader:    pim_delta_export.reader.doctrine.product
                        processor: pim_magento_connector.processor.configurable
                        writer:    pim_magento_connector.writer.product_delta
                    parameters:
                        batch_size: 1
                export_product_association:
                    title:     pim_magento_connector.steps.association_product_export.export.title
                    services:
                        reader:    pim_delta_export.reader.doctrine.product
                        processor: pim_magento_connector.processor.product_association
                        writer:    pim_magento_connector.writer.product_association
                    parameters:
                        batch_size: 1
                prune_simple_products:
                    title: pim_magento_connector.steps.simple_product_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.product
                prune_configurable_products:
                    title: pim_magento_connector.steps.configurable_product_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.configurable
        magento_category_export:
            title: pim_magento_connector.jobs.category_export.title
            type:  export
            templates:
                show: 'PimMagentoConnectorBundle:Export:show.html.twig'
                edit: 'PimMagentoConnectorBundle:Export:edit.html.twig'
            steps:
                export_categories:
                    title:     pim_magento_connector.steps.category_export.export.title
                    services:
                        reader:    pim_magento_connector.reader.orm.category
                        processor: pim_magento_connector.processor.category
                        writer:    pim_magento_connector.writer.category
                    parameters:
                        batch_size: 1
                prune_categories:
                    title: pim_magento_connector.steps.category_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.category

        magento_attribute_export:
            title: pim_magento_connector.jobs.attribute_export.title
            type:  export
            templates:
                show: 'PimMagentoConnectorBundle:Export:show.html.twig'
                edit: 'PimMagentoConnectorBundle:Export:edit.html.twig'
            steps:
                export_attributes:
                    title:     pim_magento_connector.steps.attribute_export.export.title
                    services:
                        reader:    pim_magento_connector.reader.orm.attribute
                        processor: pim_magento_connector.processor.attribute
                        writer:    pim_magento_connector.writer.attribute
                    parameters:
                        batch_size: 1
                prune_attributes:
                    title: pim_magento_connector.steps.attribute_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.attribute

        magento_option_export:
            title: pim_magento_connector.jobs.option_export.title
            type:  export
            templates:
                show: 'PimMagentoConnectorBundle:Export:show.html.twig'
                edit: 'PimMagentoConnectorBundle:Export:edit.html.twig'
            steps:
                export_options:
                    title:     pim_magento_connector.steps.option_export.export.title
                    services:
                        reader:    pim_magento_connector.reader.orm.grouped_option
                        processor: pim_magento_connector.processor.option
                        writer:    pim_magento_connector.writer.option
                    parameters:
                        batch_size: 1
                prune_options:
                    title: pim_magento_connector.steps.option_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.option

        magento_attributeset_export:
            title: pim_magento_connector.jobs.attributeset_export.title
            type:  export
            templates:
               show: 'PimMagentoConnectorBundle:Export:show.html.twig'
               edit: 'PimMagentoConnectorBundle:Export:edit.html.twig'
            steps:
                export_attributesets:
                     title:     pim_magento_connector.steps.attributeset_export.export.title
                     services:
                         reader:    pim_magento_connector.reader.orm.family
                         processor: pim_magento_connector.processor.family
                         writer:    pim_magento_connector.writer.family
                     parameters:
                         batch_size: 1
                prune_attributeset:
                    title: pim_magento_connector.steps.family_clean.clean.title
                    class: "%pim_magento_connector.step.prune.class%"
                    services:
                        cleaner: pim_magento_connector.cleaner.family
